# Logs
logs/
tmp/
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Cache
.docusaurus

# Build
dist/
build/

# Generated
src/generated/**/*.md
src/generated/**/*.schema.json
src/generated/**/plugin/
docs/spec-v1/interfaces/Configuration.md
docs/spec-v1/interfaces/Document.md
docs/spec-v1/examples/*
!docs/spec-v1/examples/index.mdx
docs/spec-v1/diagrams/*
!docs/spec-v1/diagrams/index.mdx

/static/spec-v1/interfaces/Configuration.schema.json
/static/spec-v1/interfaces/Document.schema.json
