# Logs
logs/
tmp/
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Cache
.docusaurus

# Build
dist/
build/

# Generated
src/generated/**/*.md
src/generated/**/*.schema.json
src/generated/**/plugin/

static/spec-v1/*
