.tabs-container {
  .tabs {
    .tabs__item {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      padding: 5px 15px 10px 15px;

      &:hover {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      &.tabs__item--active {
        background-color: var(--ifm-menu-color-background-active);
        color: var(--c-accent);
        border-top: 3px solid var(--c-accent);
        border-bottom: none;
      }
    }
  }

  .margin-top--md {
    margin-top: 0px !important;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--ifm-menu-color-background-active);

    h2 {
      margin: 0px 0px 0px 0px;
      padding: 10px 0px;
    }
  }
}
