@import url("./foundation/index.css");
@import url("./components/index.css");
@import url("./pages/index.css");

/* Hide internal banner by default - becomes visible when JS replaces content */
.theme-announcement-bar:has(.internal-banner-hidden) {
  display: none;
}
