/* Section: Landing hero wrapper */
.lp-home {
  display: grid;
  background: var(--lp-c-bg);
  min-height: 100vh;
  gap: 24px;
  padding: 80px 24px 96px;
}
.lp-home .container {
  display: flex;
  margin: 0 auto;
  max-width: 1152px;
  flex-direction: column;
  text-align: center;
  gap: 64px;
}
.lp-home .main {
  flex: 1 1 100%;
  order: 2;
}
.lp-home .heading {
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 24px;
}
.lp-home .name {
  font-size: 48px;
  display: block;
}
.lp-home .name.clip {
  background: var(--lp-home-hero-name-background);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--lp-home-hero-name-color);
}
.lp-home .text {
  font-size: 36px;
  font-weight: 500;
  color: var(--lp-c-text-1);
  display: block;
  margin-top: 8px;
}
.lp-home .tagline {
  color: var(--lp-c-text-2);
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto 32px;
  max-width: 600px;
}
.lp-home .actions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

/* Section: Hero media */
.lp-home .image {
  order: 1;
  flex: 1 1 100%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.lp-home .image-container {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}
.lp-home .image-bg {
  position: absolute;
  inset: 0;
  background-image: var(--lp-home-hero-image-background-image);
  filter: var(--lp-home-hero-image-filter);
  border-radius: 50%;
  opacity: 0.6;
}
.image-container > .image-src {
  position: absolute;
  left: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
  background: url("/img/logo/ORD_Icon_Color_Logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Section: Video container */
.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: min(56.25%, 454px);
}
.videoIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 800px;
}

/* Section: Hero media queries */
@media (max-width: 480px) {
  .lp-home {
    padding: var(--nav-pad-x) !important;
  }
  .lp-home .image-container {
    width: 200px;
    height: 200px;
  }
  .lp-home .container {
    gap: var(--nav-pad-x) !important;
  }

  .lp-home .actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
  }
  .action a {
    padding: 12px 16px;
    font-size: 14px;
  }
}
@media (min-width: 481px) and (max-width: 959px) {
  .lp-home .image-container {
    width: 280px;
    height: 280px;
  }
  .lp-home {
    padding: 60px 24px 0px !important;
  }
}
@media (min-width: 768px) {
  .lp-home .name {
    font-size: 56px;
  }
  .lp-home .text {
    font-size: 48px;
  }
  .lp-home .tagline {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (min-width: 960px) {
  .lp-home .name {
    font-size: 64px;
  }
  .lp-home {
    padding: 120px 64px 0 !important;
  }
  .lp-home .container {
    flex-direction: row;
    text-align: left;
    gap: 64px;
  }
  .lp-home .main {
    flex: 1 1 50%;
    order: 1;
  }
  .lp-home .text {
    font-size: 56px;
  }
  .lp-home .tagline {
    margin: 0 0 32px;
  }
  .lp-home .actions {
    justify-content: flex-start;
  }
  .lp-home .image {
    flex: 1 1 50%;
    order: 2;
  }
}
